@import '../../../../../global.scss';
.plans-main__component {
  background-color: #f7f7f9;
  color: black;
  width: 100%;
}

.choose-plans__title {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 2rem;
  }
}
.choose-plans__page-subtitle {
  p {
    font-size: 1rem;
    font-weight: 400;
    color: #636e85;
  }
}

.choose-plans__body {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
  .choose-pans__body-buttons {
    padding-bottom: 40px;
    button {
      box-sizing: border-box;
      background: none;
      border: none;
      border-bottom: 1px solid #b9bfc8;
      color: #b9bfc8;
      cursor: pointer;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 0.875rem;
      letter-spacing: 1.5px;
      overflow: hidden;
      padding: 0 0 1rem;
      text-transform: uppercase;
      width: 145px;
    }
    .active-plans__button {
      border-bottom: 4px solid #272c35;
      color: #272c35;
      cursor: default;
      padding-bottom: 13px;
    }
  }
}

.choose-plans__body-plans {
  position: relative;
  display: flex;
  @include md {
    width: 80%;
  }
  .carousel {
    background-color: white;
    padding: 40px 24px 0;
    margin: 0;
    width: 33%;
    margin-top: 20px;
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    min-height: 295px;
  }
  span {
    padding: 4px;
    border-radius: 20px;
    background-color: #29a869;
    color: white;
  }
  .carousel:nth-child(2) {
    margin-top: 0px;
    border-top: 4px solid #29a869;
    min-height: 425px;
    padding: 40px 24px 0;
  }
}
