.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  img {
    object-fit: contain;
    height: 20px;
    width: 80px;
  }
  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 600;
  }
}
